@page
@model GourmetPizza.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FamilyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FamilyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.GivenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.GivenName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.PostCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
