@page
@model GourmetPizzaPrac3.Pages.Purchases.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Purchase[0].TheCustomer.FullName)
            </th>
            <th>
                <a asp-route-sort="@ViewData["NextCountOrder"]">
                    @Html.DisplayNameFor(model => model.Purchase[0].PizzaCount)
                </a>
            </th>
            <th>
                <a asp-route-sort="@ViewData["NextNameOrder"]">
                    @Html.DisplayNameFor(model => model.Purchase[0].ThePizza)
                </a>
            </th>
            <th>
                <a asp-route-sort="@ViewData["NextPriceOrder"]">
                    @Html.DisplayNameFor(model => model.Purchase[0].TotalPrice)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThePizza.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
        </tr>
}
    </tbody>
</table>
