@page
@model GourmetPizzaPrac3.Pages.Purchases.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].PizzaCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].ThePizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].TheCustomer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThePizza.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
